.App {
text-align: center;
 font-family: 'Cinzel', serif;
}
body {
  text-align: center;
 font-family: 'Cinzel', serif;
  background-image: url("img.jpg");
}

h1{
  padding: 5%;
  color: aliceblue;
   text-align: center;
  font-family: 'Cinzel', serif, bold;
    font-weight: bold;
}
h3{
  text-align: center;
   font-family: 'Cinzel', serif;
}
 #mylogin {
   padding: 2%;
   width: 40%;
   background-color:gainsboro;
   margin-left: 30%;
 }

  #inscrip {
  padding: 2%;
  margin-left: 30%;
  background-color:gainsboro;
    width: 40%;
 }